.custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .custom-modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 800px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
  }
  
  .modal-title {
    font-size: 1.8em;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .modal-body {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .upload-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .title-input, .file-input {
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
  }
  
  .file-input {
    margin-top: 10px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .map-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    width: 100%;
  }
  
  .map-item {
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  
  .map-info {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
  }
  
  .action-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .btn-danger {
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 4px;
  }
  
  .file-popup {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .file-popup iframe {
    border: 1px solid #ccc;
  }
  
  .pdf-container {
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  